body {
  text-align: center;
  background-color: transparent;
  pointer-events: none;
}

#selection {
  display: none;
  background-color: white;
  width: 150px;
  height: 37px;
  border: 1px solid #ccc;
  border-radius: 4px;
  opacity: .5;
  margin: 10px;
}

#selection h4 {
  opacity: 1;
}

#adjustment {
  display: none;
  margin: 10px;
  width: 150px;
  height: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

#adjustment input {
  width: 126px;
  height: 30px;
  font-size: 11px;
  border-color: #ccc;
}

#adjustment button {
  font-size: 10px;
  line-height: 22px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  padding: 0;
  width: 61px;
  height: 30px;
  border-color: #ccc;
}

#adjustment input:hover, #adjustment button:hover {
  border: 1px solid #6E6E6E;
}

#rule-name {
  margin-bottom: 10px;
}

h4 {
  color: #555;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 0 !important;
}

hr {
  margin: 0;
}

#space:hover {
  cursor: pointer !important;
}

#save-btn {
  width: 126px !important;
  background-color: gray;
  border: 1px solid gray;
  color: white;
}

#save-btn:hover {
  background-color: #6E6E6E;
}

label {
  display: block;
  padding: 0;
  margin-left: 10px;
  position: relative;
  width: 126px;
  height: 22px;
  text-align: left;
  margin-bottom: 20px;
}

label:hover {
  cursor: pointer;
}

.checktext {
  font-size: 11px;
  font-weight: normal;
  text-transform: none;
  letter-spacing: 0;
  position: absolute;
  top: 5px;
  left: 22px;
  color: #555 !important;
}

#keep-space {
  width: 20px !important;
  height: 20px !important;
  position: absolute;
  top: 4px;
  right: 15px;
}

#keep-space:hover {
  cursor: pointer;
}
